body{
    font-family: 'Ubuntu', sans-serif;
}
.top-section{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 50px;
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 60px;
}
p{
    font-size: 20px;
}
.ancjor-tag{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 15px 40px;
    color: aliceblue;
    border-radius: 10px;
}